{% extends 'main-layout.html' %}

{% block main_script %}
    <script src="{{ url_for('static', filename='js/user/main.js') }}"></script>
{% endblock %}

{% block account_management %}
    <div>
        <p>Logged in as {{ session['user']['name'] }}</p>
        <form method="POST" action="account/logout">
            <button id="logout-button">Log out</button>
        </form>
    </div>
    <div id="links">
        <a href="/diary/">My Diary</a>
        <a href="/food/">Foods</a>
    </div>
{% endblock %}
