#signUpForm, #logInForm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

#signUpForm > div,
#logInForm > div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#signUpForm > div > form,
#logInForm > div> form {
}

.hidden {
    display: none;
}
