{% extends 'user/layout.html' %}
{% block main %}
    <div id="create-entry">
        <button>Create food entry</button>
        <form method="POST" action="/diary/add" class="hidden">
            <input name="foodId" placeholder="Food id">
            <input name="foodServingSize" placeholder="Serving size">
            <button>Submit</button>
        </form>
    </div>

    <div id="create-food">
        <button>Create food</button>
        <form method="POST" action="/food/add" class="hidden">
            <input name="foodName" placeholder="Food name">
            <input name="foodServingSize" placeholder="Food servingsize">
            <input name="foodCalories" placeholder="Food calories">
            <div>
                <input name="foodFats" placeholder="Food fats">
                <input name="foodCarbs" placeholder="Food carbs">
                <input name="foodProteins" placeholder="Food proteins">
            </div>
            <button>Submit</button>
        </form>
    </div>

    <div>
        <button id="toggle-create-food-image">Create food by nutrition label</button>
        <form id="form-create-food-image" class="hidden">
        </form>
    </div>
    <div>
        <h2>Food Diary</h2>
        <div>
            <p>Food Name: Potatoes, 100 g, 93 calories.</p>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/user/home.js') }}"></script>
{% endblock %}
